ispace-modifiers {
    &>ol {
        list-style-type: none;

        &>li {
            &:not(:first-of-type) {
                border-top: 1px solid hsl(0, 0%, 53%);
            }

        }
    }

    ispace-creator {

        padding: 6px;

        .header {
            color: rgba(0, 0, 0, 0.6);
            display: flex;
            flex-direction: row;

            input[type="checkbox"] {
                display: block;
                margin: 3px 6px 3px 0;
                cursor: pointer;
                width: 14px;
                height: 14px;
            }

            img {
                flex: 0 0 auto;
                display: inline-block;
                margin: 0 2px 0 -1px;
                color: rgba(0, 0, 0, 0.5);
                width: 20px;
            }

            .foo {
                flex-grow: 1;
                line-height: 20px;
            }
        }

        form>ul {
            list-style-type: none;
            padding: 0;

            li {
                position: relative;
                display: flex;
                flex-direction: row;
                margin-top: 6px;
                min-height: 26px;

                label {
                    width: 120px;
                    margin-right: 4px;
                    padding: 4px 4px 4px 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                input {
                    // display: block;
                    // flex-grow: 1;
                    // width: calc(100% - 120px);
                }

                ispace-number-scrubber {
                    flex: 0 1 120px;
                    margin: 3px;
                    display: inline-flex;
                    height: 20px;
                    padding: 1px 7px;
                    border-radius: 99px;

                    .number-scrubber {
                        color: rgba(0, 0, 0, 0.85);
                        background-color: hsl(150, 61%, 85%);
                        flex: 0 1 120px;
                        margin: 3px;
                        display: inline-flex;
                        height: 20px;
                        padding: 1px 7px;
                        border-radius: 99px;
                        line-height: 18px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}