:root {
    --ms-6: calc(var(--ui-size) * 2.027);
    --ms-5: calc(var(--ui-size) * 1.802);
    --ms-4: calc(var(--ui-size) * 1.602);
    --ms-3: calc(var(--ui-size) * 1.424);
    --ms-2: calc(var(--ui-size) * 1.266);
    --ms-1: calc(var(--ui-size) * 1.125);
    --ms-0: calc(var(--ui-size) * 1);
    --ms_1: calc(var(--ui-size) * 0.889);
    --ms_2: calc(var(--ui-size) * 0.790);
}

ispace-toolbar {
    margin: 15px;
}

ispace-toolbar button {
    width: 100%;
    white-space: initial;
    font-size: var(--ms-1);
    line-height: 1;
    padding: calc(var(--ui-padding)/3) calc(var(--ui-padding)/2);
}

ispace-toolbar button::before {
    vertical-align: middle;
}