ispace-viewport:hover ispace-toolbar {
        visibility: visible;
}

ispace-viewport ispace-toolbar {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    bottom: 12px;
    background: #eee;
    text-align: center;
    visibility: hidden;
}

ispace-viewport canvas:focus {
    outline: none;
}