ispace-viewport:hover {
    ispace-toolbar {
        visibility: visible;
    }

    ispace-keybindings {
        visibility: visible;
    }
}

ispace-viewport {
    ispace-keybindings {
        position: absolute;
        left: 0px;
        bottom: 12px;
        background: transparent;
        visibility: hidden;
        color: white;
        pointer-events: none;

        ul {
            li {
                list-style-type: none;
                margin: 5px;

                .keystroke {
                    font-weight: bold;
                    border: 1px solid white;
                    padding: 0 2px;
                    margin: 5px;
                }
            }
        }
    }
}

ispace-viewport canvas:focus {
    outline: none;
}