ispace-workspace {
    contain: var(--contain_all);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    position: relative;
    color: var(--text-color);
    background-color: var(--app-background-color);
    font-family: var(--font-family);
}

ispace-workspace ispace-workspace-axis {
    contain: var(--contain_except_layout_paint);
    position: relative;
}

ispace-workspace ispace-workspace-axis.horizontal {
    contain: var(--contain_except_layout_paint);
    display: flex;
    flex: 1;
    min-width: 0;
    min-height: 0;
}

ispace-workspace ispace-workspace-axis.vertical {
    contain: var(--contain_except_layout_paint);
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
}